@model PLF_Football.Web.ViewModels.Players.PlayerProfileViewModel
@{
    this.ViewData["ClubImg"] = @Model.ClubName.ToLower();
}
<style>
    .bg-team::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('/image/Club/@(this.ViewData["ClubImg"]).png');
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: 100%;
        opacity: 0.3;
        z-index: -1;
    }

    .bg-profile-text{
        background-color: rgba(255, 255, 255, 0.5);
    }

    .follow-us li .fa {
        margin: 10px 10px 20px 20px;
        font-size: 35px;
        color: #767676;
    }

    .follow-us li .fa:hover {
        color: #025a8e;
    }
    .btn{
        margin-right: 15px;
    }
</style>

<br />
<div class="container bg-team row justify-content-between">
        
    
        <div class="col-md-7 col justify-content-between bg-profile-text">
            <h2 class="display-2">@Model.FirstName</h2>
            <h1 class="display-2">@Model.LastName</h1>
            <ul class="row  follow-us clearfix">

                @if (@Model.SocialLinks.FacebookLink != null)
                {
                    <li>
                        <a href="@Model.SocialLinks.FacebookLink">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                }
                @if (@Model.SocialLinks.TweeterLink != null)
                {
                    <li>
                        <a href="@Model.SocialLinks.TweeterLink">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                }
                @if (@Model.SocialLinks.InstagramLink != null)
                {
                    <li>
                        <a href="@Model.SocialLinks.InstagramLink">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                }
                
            </ul>
            <p>Date of Birth: 
                 <span style="font-weight: bold">@Model.DoBAsString</span>
                 <span style="color:brown; font-weight: bold">( @Model.Age )</span>
            </p>
            <p>Nationality: <span style="font-weight: bold">@Model.Country.Name</span>
            </p>
            <p>Position: <span style="font-weight: bold">@Model.PositionName</span></p>
            <p>Price: <span style="font-weight: bold">@Model.PriceAtString</span></p>
            @if (@Model.Weight != null)
            {
                <p>Weight: <span style="font-weight: bold">@Model.Weight kg.</span></p>
            }
            @if (@Model.Height != null)
            {
                <p>Height: <span style="font-weight: bold">@Model.Height cm.</span></p>
            }

        <div>
            <a class="btn btn-dark" asp-controller="Players" asp-action="Statistics" asp-route-id="@Model.Id">
                Premier League Record
            </a>

            <a class="btn btn-dark" asp-controller="Players" asp-action="Points" asp-route-id="@Model.Id">
                Game Points
            </a>

            <a class="btn btn-success" asp-controller="UserGames" asp-action="AddPlayer" asp-route-id="@Model.Id">
                Buy
            </a>
        </div>
            <br />
    </div>

        <img class="col-md-5" style="width:280px" src="@Model.ImageUrl" alt="" onerror="this.src = 'https://resources.premierleague.com/premierleague/photos/players/110x140/Photo-Missing.png'" />

</div>
