@model PLF_Football.Web.ViewModels.ApplicationUsers.UserIndexPageViewModel
@{ 
    this.ViewData["0"] = "Prevous";
    this.ViewData["1"] = "Current";
    this.ViewData["2"] = "Next";
}
    <style>
        .matchday{
            background-color: lightgreen;
            color: dimgray;
            text-decoration: double;
        }
        .team {
            padding: 5px;
            width: 350px;
            height: 300px;
            background-color: green;
        }
        .btn-small{
            font-size: 16px;
            padding: 3px 5px;
            border-radius: 3px;
        }
    </style>
<div class="row justify-content-center">
    <a class="btn btn-primary alert-secondary" style="font-weight:bolder" asp-controller="Users" asp-action="AllTeams">
        My All Teams
    </a>
</div>
<div class="row">
    @for (int i = 0; i < 3; i++)
    {
        <div class="col-md-4">

            <div class="text-center matchday">Matchday: @(Model.LastStartedMatchday-1+i) (@this.ViewData[$"{i}"])</div>

            <div class="team">
                @if (Model.Teams.Any(x => x.Matchday == Model.LastStartedMatchday - 1 + i))
                {
                    <div class="row align-items-center">

                        <span class="col-md-6">Team: @Model.Teams.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).FirstOrDefault().TeamSumAsString </span>
                        <span class="col-md-3">Points: @Model.Teams.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).FirstOrDefault().Points</span>
                        <a class="btn-small alert-success" style="font-weight:bolder" asp-controller="Users" asp-action="Team" asp-route-userId="@Model.Id" asp-route-matchday="@(Model.LastStartedMatchday-1+i)">
                            Details
                        </a>
                    </div>

                    <div class="row col-md-4 justify-content-center">

                        @foreach (var player in Model.Teams.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).FirstOrDefault().Team.Where(x => x.Position.Id == 1))
                        {
                            <a title="Player Profile" asp-controller="Players" asp-action="Profile" asp-route-id="@player.Id">
                                <img style="height:50px" src="@player.ImageUrl" alt="Alternate Text" />

                                @if (player.PlayerPoints.Any(x => x.Matchday == Model.LastStartedMatchday - 1 + i))
                                {
                                    <p>
                                        @player.PlayerPoints.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).Select(x => x.Points).FirstOrDefault() pts.
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        0 pts.
                                    </p>
                                }

                            </a>

                        }

                    </div>

                    
                }
                else
                {
                    <span>Sorry, You Don`t Have a Team for this Matchday!</span>
                }
            </div>

            <div class="fixture col-md-12">
                <div class="row fixture-item"><span>aaaa</span><span>0:3</span><span>bbbbbbbbb</span></div>
                <div class="row fixture-item"><span>aaaa</span><span>0:3</span><span>bbbbbbbbb</span></div>
                <div class="row fixture-item"><span>aaaa</span><span>0:3</span><span>bbbbbbbbb</span></div>
                <div class="row fixture-item"><span>aaaa</span><span>0:3</span><span>bbbbbbbbb</span></div>
                <div class="row fixture-item"><span>aaaa</span><span>0:3</span><span>bbbbbbbbb</span></div>
                <div class="row fixture-item"><span>aaaa</span><span>0:3</span><span>bbbbbbbbb</span></div>
                <div class="row fixture-item"><span>aaaa</span><span>0:3</span><span>bbbbbbbbb</span></div>
                <div class="row fixture-item"><span>aaaa</span><span>0:3</span><span>bbbbbbbbb</span></div>
                <div class="row fixture-item"><span>aaaa</span><span>0:3</span><span>bbbbbbbbb</span></div>
                <div class="row fixture-item"><span>aaaa</span><span>0:3</span><span>bbbbbbbbb</span></div>
            </div>
        </div>
    }
</div>
