@model PLF_Football.Web.ViewModels.ApplicationUsers.UserIndexPageViewModel
@{ 
    this.ViewData["0"] = "Prevous";
    this.ViewData["1"] = "Current";
    this.ViewData["2"] = "Next";
}
<style>
    .bg-user::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('/image/Common/tactics.png');
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: 100%;
        opacity: 0.3;
        z-index: -1;
        }

    .buttons{
            position: absolute;
            top: 190px;
            right:  25px;
            display: flex;
            flex-direction: column;
        }
    .buttons a{
            margin-bottom: 10px;
            width: 160px;
        }
    .matchday {
            background-color: grey;
            color: black;
            font-weight: bold;
            height: 30px;
            border-radius: 10px;
            margin:10px 0;
            padding-top: 3px;
        }
    .team {
            padding: 10px 0px 15px 25px;
            width: 350px;
            height: 430px;
            background-color: forestgreen;
            border-radius:10px;
        }
    .team-info{
        color: lightgreen;
    }
    .btn-small{
            font-size: 16px;
            padding: 3px 5px;
            border-radius: 3px;
        }
     div a p{
            color: lightgreen;
            font-size: 20px;
        }
    .span-center{
        margin: 120px 60px;
        font-size: 22px;
        color: lightgreen;
        text-align: center;
    }
    .fixture {
        margin-top: 10px;
        background-color: grey;
        border-radius: 10px;    
        padding-top: 8px;
    }
    .fixture .row{
        min-height: 45px;
        align-items: center;
        
    }
    .fixture-team{
        font-size: 15px;
        color: black;
        font-weight: bold;
    }
    .fixture-result{
        font-size: 14px;
        font-weight: bold;  
        color: white;
        padding: 0 0;
    }
    .right{
        text-align: end;
    }
    hr{
        margin: 8px 16px;
    }

</style>

    <div class="bg-user">

        <div class="buttons">

            <a class="btn btn-primary alert-secondary" style="font-weight:bolder" asp-controller="Users" asp-action="Ranking">
                Total Pts: @Model.TotalPoints
            </a>
            <hr />
            <hr />
            <br />
            <a class="btn btn-primary alert-secondary" style="font-weight:bolder" asp-controller="Users" asp-action="AllTeams">
                All Teams
            </a>

            @if (Model.Teams.Where(x => x.Matchday == Model.LastStartedMatchday + 1).FirstOrDefault()== null || Model.Teams.Where(x => x.Matchday == Model.LastStartedMatchday + 1).FirstOrDefault()?.Team.Count() < 11)
            {
                <a class="btn btn-primary alert-secondary" style="font-weight:bolder" asp-controller="Players" asp-action="All">
                    Add Player
                </a>
            }
            @if (Model.Teams.Where(x => x.Matchday == Model.LastStartedMatchday + 1).FirstOrDefault()?.Team.Count() > 0)
            {
                <a class="btn btn-primary alert-secondary" style="font-weight:bolder" asp-controller="Users" asp-action="Team" asp-route-userId="@Model.Id" asp-route-matchday="@(Model.LastStartedMatchday +1)">
                    Remove Player
                </a>
            }
            <hr />
            <a class="btn btn-primary alert-secondary" style="font-weight:bolder" asp-controller="Users" asp-action="Chat">
                Chat
            </a>
            <hr />
            <hr />
            <br />
            <a class="btn btn-primary alert-secondary" style="font-weight:bolder" asp-controller="Clubs" asp-action="Fixtures" asp-route-teamId="@Model.FavoriteTeamId">
                <div>@Model.FavoriteTeamName</div>
                <div>Fixtures</div>
            </a>

        </div>
        
        <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-md-4">

                    <div class="text-center matchday">Matchday: @(Model.LastStartedMatchday-1+i) (@this.ViewData[$"{i}"])</div>

                    <div class="team">
                        @if (Model.Teams.Any(x => x.Matchday == Model.LastStartedMatchday - 1 + i))
                        {
                            <div class="row align-items-center">

                                <span class="col-md-6 team-info">Team: @Model.Teams.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).FirstOrDefault().TeamSumAsString </span>
                                <span class="col-md-3 team-info">Pts: @Model.Teams.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).FirstOrDefault().Points</span>
                                <a class="btn-small alert-success" style="font-weight:bolder" asp-controller="Users" asp-action="Team" asp-route-userId="@Model.Id" asp-route-matchday="@(Model.LastStartedMatchday-1+i)">
                                    Details
                                </a>
                            </div>
                            <br />
                            <div class="row col-md-12 justify-content-around" style="min-height:70px">

                                @foreach (var player in Model.Teams.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).FirstOrDefault().Team.Where(x => x.Position.Id == 1))
                                {
                                    <a class="row" title="@player.LastName" asp-controller="Players" asp-action="Profile" asp-route-id="@player.Id">
                                        <img style="height:70px" src="@player.ImageUrl" alt="Alternate Text" />

                                        @if (player.PlayerPoints.Any(x => x.Matchday == Model.LastStartedMatchday - 1 + i))
                                        {
                                            <p>
                                                @player.PlayerPoints.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).Select(x => x.Points).FirstOrDefault()
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                0
                                            </p>
                                        }

                                    </a>

                                }

                            </div>
                            <br />
                            <div class="row col-md-12 justify-content-around" style="min-height:70px">

                                @foreach (var player in Model.Teams.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).FirstOrDefault().Team.Where(x => x.Position.Id == 2))
                                {
                                    <a class="row" title="@player.LastName" asp-controller="Players" asp-action="Profile" asp-route-id="@player.Id">
                                        <img style="height:70px" src="@player.ImageUrl" alt="Alternate Text" />

                                        @if (player.PlayerPoints.Any(x => x.Matchday == Model.LastStartedMatchday - 1 + i))
                                        {
                                            <p>
                                                @player.PlayerPoints.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).Select(x => x.Points).FirstOrDefault()
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                0
                                            </p>
                                        }

                                    </a>

                                }

                            </div>
                            <br />
                            <div class="row col-md-12 justify-content-around" style="min-height:70px">

                                @foreach (var player in Model.Teams.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).FirstOrDefault().Team.Where(x => x.Position.Id == 3))
                                {
                                    <a class="row" title="@player.LastName" asp-controller="Players" asp-action="Profile" asp-route-id="@player.Id">
                                        <img style="height:70px" src="@player.ImageUrl" alt="Alternate Text" />

                                        @if (player.PlayerPoints.Any(x => x.Matchday == Model.LastStartedMatchday - 1 + i))
                                        {
                                            <p>
                                                @player.PlayerPoints.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).Select(x => x.Points).FirstOrDefault()
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                0
                                            </p>
                                        }

                                    </a>

                                }

                            </div>
                            <br />
                            <div class="row col-md-12 justify-content-around" style="min-height:70px">

                                @foreach (var player in Model.Teams.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).FirstOrDefault().Team.Where(x => x.Position.Id == 4))
                                {
                                    <a class="row" title="@player.LastName" asp-controller="Players" asp-action="Profile" asp-route-id="@player.Id">
                                        <img style="height:70px" src="@player.ImageUrl" alt="Alternate Text" />

                                        @if (player.PlayerPoints.Any(x => x.Matchday == Model.LastStartedMatchday - 1 + i))
                                        {
                                            <p>
                                                @player.PlayerPoints.Where(x => x.Matchday == Model.LastStartedMatchday - 1 + i).Select(x => x.Points).FirstOrDefault()
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                0
                                            </p>
                                        }

                                    </a>

                                }

                            </div>
                        }
                        else
                        {
                            <div class="span-center">Sorry, you don`t have a team for this matchday!</div>
                        }
                    </div>

                    <div class="fixture col-md-12">
                        @if (Model.Fixtures.Any(x => x.Matchday == Model.LastStartedMatchday - 1 + i))
                        {
                            foreach (var fix in Model.Fixtures.Where(x=>x.Matchday == Model.LastStartedMatchday - 1 + i).OrderBy    (x=>x.Result).ToList())
                            {
                                <div class="row" @if (Model.FavoriteTeamId == fix.AwayTeamId || Model.FavoriteTeamId== fix.HomeTeamId) {<text> style="background-color: forestgreen" </text> }>
                                    <a class="col-md-5 fixture-team left" asp-controller="Clubs" asp-action="Index" asp-route-id="@fix.HomeTeamId" >
                                        @fix.HomeTeamName
                                    </a>

                                    <div class="col-md-2 fixture-result text-center" @if (!fix.Finished) {<text>                style="color:darkgray" </text> }>
                                        @fix.Result
                                        @if (fix.Result.Contains(":")) { <div>(CET)</div> }
                                    </div>

                                    <a  class="col-md-5 fixture-team right" asp-controller="Clubs" asp-action="Index" asp-route-id="@fix.AwayTeamId">
                                        @fix.AwayTeamName
                                    </a>
                                </div>
                                <hr />
                            }
                        }
                        else
                        {
                            <div class="span-center">Not fixture in this matchday!</div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>