@using PLF_Football.Common
@model PLF_Football.Web.ViewModels.UserGame.UserGameTeamViewModel

<div class="container">
    <div class="row">

    </div>

    <div class="row">

        <span>Available budget :@Model.FreeBudget</span>
        <span>Teame price :  @Model.TeamSum</span>
    </div>
    @foreach (var player in Model.Team.OrderBy(x => x.Position.Id))
    {
        <div>
            <img src="@player.ImageUrl" alt="Alternate Text" />
        </div>
        <div>
            <span>@player.FullName</span>
            <span>@player.PositionName</span>
            <span>@player.PriceAtString</span>
        </div>
    }
</div>