@using PLF_Football.Common
@model PLF_Football.Web.ViewModels.UserGame.UserGameTeamViewModel


<style>
    .bg-pitch {
        margin-top: 10px;
        background-image: url("/image/Common/pitch.png");
        overflow: hidden;
        background-size: cover;
        background-position: center;
    }

    .budget {
        font-style: italic;
    }

    .budget-amount {
        font-weight: bold;
        font-size: 20px;
        color: firebrick;
    }

    .player {
        background-color: rgba(255, 255, 255, 0.1);
        margin: 3px;
        border-radius: 10px;
    }

    .player-price {
        font-weight: bold;
        color: firebrick;
    }

    .player-points {
        font-weight: bold;
        font-size: 22px;
    }

    .player-name {
        font-weight: bold;
        font-size: 20px;
    }

    a .fa {
        font-size: 22px;
    }
</style>

<div class="bg-pitch">
    <br />
    <div class="row justify-content-center" style="min-height:20vh">

        <div class="col-md-3 jua">
            <div class="text-center budget">Available budget :</div>
            <div class="text-center budget-amount">@Model.FreeBudgetAsString</div>
            <br />
            @if (!Model.IsMatchdayStarted && Model.Team.Count < 11)
            {
                <div class="row justify-content-center">
                    <a class="btn btn-primary alert-secondary" style="font-weight:bolder" asp-controller="Players" asp-action="All">
                        Add New Player
                    </a>
                </div>
            }
        </div>

        @foreach (var player in Model.Team.Where(x => x.Position.Id == 1).OrderBy(x => x.LastName))
        {

            <div class="col-md-2 player">

                <div class="text-center player-price">@player.PriceAtString</div>
                <div class="row justify-content-between align-items-center">
                    @if (!Model.IsMatchdayStarted)
                    {

                        <a class="btn" id="remove-player" title="Remove Player" data-toggle="modal" data-target="#modalRemove" onclick="btn_onClick(@player.Id)">
                            <i class="fa fa-trash"></i>
                        </a>
                    }
                    else
                    {
                        <div style="padding-left:8px">

                            <span class="player-points">
                                @player.PlayerPoints.Where(x => x.Matchday == Model.Matchday).Select(x => x.Points).FirstOrDefault()
                            </span>
                            pts:
                        </div>
                    }
                    <a class="btn" title="View Player Stats" asp-controller="Players" asp-action="Statistics" asp-route-id="@player.Id">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </div>
                <div>
                    <img style="width: 85px; display:block; margin: 0 auto;" src="@player.ImageUrl" alt="Alternate       Text" />
                </div>
                <p class="text-center player-name">@player.LastName</p>

            </div>

        }

        <div class="col-md-3">
            <div class="text-center budget">Team price :</div>
            <div class="text-center budget-amount">@Model.TeamSumAsString</div>
            <br />
            <div class="row justify-content-center">
                <a class="btn btn-primary alert-secondary" style="font-weight:bolder" asp-controller="Users" asp-action="Index">
                    My Last Teams
                </a>
            </div>
        </div>

    </div>

    <div class="row  justify-content-center" style="min-height:20vh">


        @foreach (var player in Model.Team.Where(x => x.Position.Id == 2).OrderBy(x => x.LastName))
        {

            <div class="col-md-2 player">

                <div class="text-center player-price">@player.PriceAtString</div>
                <div class="row justify-content-between align-items-center">
                    @if (!Model.IsMatchdayStarted)
                    {

                        <a class="btn" id="remove-player" title="Remove Player" data-toggle="modal" data-target="#modalRemove" onclick="btn_onClick(@player.Id)">
                            <i class="fa fa-trash"></i>
                        </a>
                    }
                    else
                    {
                        <div style="padding-left:8px">

                            <span class="player-points">
                                @player.PlayerPoints.Where(x => x.Matchday == Model.Matchday).Select(x => x.Points).FirstOrDefault()
                            </span>
                            pts:
                        </div>
                    }
                    <a class="btn" title="View Player Stats" asp-controller="Players" asp-action="Statistics" asp-route-id="@player.Id">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </div>
                <div>
                    <img style="width: 85px; display:block; margin: 0 auto;" src="@player.ImageUrl" alt="Alternate       Text" />
                </div>
                <p class="text-center player-name">@player.LastName</p>

            </div>

        }

    </div>

    <div class="row  justify-content-center" style="min-height:20vh">


        @foreach (var player in Model.Team.Where(x => x.Position.Id == 3).OrderBy(x => x.LastName))
        {

            <div class="col-md-2 player">

                <div class="text-center player-price">@player.PriceAtString</div>
                <div class="row justify-content-between align-items-center">
                    @if (!Model.IsMatchdayStarted)
                    {

                        <a class="btn" id="remove-player" title="Remove Player" data-toggle="modal" data-target="#modalRemove" onclick="btn_onClick(@player.Id)">
                            <i class="fa fa-trash"></i>
                        </a>
                    }
                    else
                    {
                        <div style="padding-left:8px">

                            <span class="player-points">
                                @player.PlayerPoints.Where(x => x.Matchday == Model.Matchday).Select(x => x.Points).FirstOrDefault()
                            </span>
                            pts:
                        </div>
                    }
                    <a class="btn" title="View Player Stats" asp-controller="Players" asp-action="Statistics" asp-route-id="@player.Id">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </div>
                <div>
                    <img style="width: 85px; display:block; margin: 0 auto;" src="@player.ImageUrl" alt="" />
                </div>
                <p class="text-center player-name">@player.LastName</p>

            </div>

        }

    </div>

    <div class="row  justify-content-center" style="min-height:20vh">


        @foreach (var player in Model.Team.Where(x => x.Position.Id == 4).OrderBy(x => x.LastName))
        {

            <div class="col-md-2 player">

                <div class="text-center player-price">@player.PriceAtString</div>
                <div class="row justify-content-between align-items-center">
                    @if (!Model.IsMatchdayStarted)
                    {

                        <a class="btn" id="remove-player" title="Remove Player" data-toggle="modal" data-target="#modalRemove" onclick="btn_onClick(@player.Id)">
                            <i class="fa fa-trash"></i>
                        </a>
                    }
                    else
                    {
                        <div style="padding-left:8px">

                            <span class="player-points">
                                @player.PlayerPoints.Where(x => x.Matchday == Model.Matchday).Select(x => x.Points).FirstOrDefault()
                            </span>
                            pts:
                        </div>
                    }
                    <a class="btn" title="View Player Stats" asp-controller="Players" asp-action="Statistics" asp-route-id="@player.Id">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </div>
                <div>
                    <img style="width: 85px; display:block; margin: 0 auto;" src="@player.ImageUrl" alt="Alternate       Text" />
                </div>
                <p class="text-center player-name">@player.LastName</p>

            </div>

        }

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalRemove" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Hi, Mate</h5>
            </div>
            <div class="modal-body">
                Do you really want to remove this player?

            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" href="/Users/Team?userId=@Model.UserId&matchday=@Model.Matchday">No, my bad</a>

                <a class="btn btn-primary" id="remove" href="">Yes, Remove</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function btn_onClick(id) {

        document.querySelector("#remove").setAttribute("href", "/UserGames/Remove?userId=@Model.UserId&userGameId=@Model.Id&playerId="+id);
    }

</script>

