@model PLF_Football.Web.ViewModels.Clubs.ClubMainVewModel
@{
    this.ViewData["ClubImg"] = @Model.Name.ToLower();
}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/css/teamSection.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .club-info::after {
            content: "";
            display: block;
            position: absolute;
            top: -10%;
            left: -10%;
            background-image: url('/image/Club/@(this.ViewData["ClubImg"]).png');
            width: 120%;
            height: 120%;
            background-position: center;
            background-size: 100%;
            opacity: 0.6;
            z-index: -1;
        }
        .club-info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .club-nav{
            display: flex;
            flex-direction: column;
            margin-left: -90px;

        }
        .club-nav a{
            width: 160px;
            margin-bottom: 20px;

            color: black;
            font-size: 20px;
            font-weight: bold;
        }
        .team-badge img{
            width: 160px;
            height: 160px;
            margin: 0 0 40px 0;
        }
        .club-content{
            display: flex;
            flex-direction: column;
            justify-content: start;
        }
        .club-content div{
            margin-left: auto;
            font-size: 24px;
            margin-bottom: 10px;
        }
        .team-sl{
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 30px;
        }
        .club-content .team-sl a {
            text-decoration: none;
        }
        .club-content .fa {
            color: white;
            font-size: 32px;
            margin:10px 20px 10px 20px;
        }
        .club-content a {
            color: black;
            font-size: 22px;
            text-decoration: underline;
        }
        .team-name{
            font-size: 72px;
            font-weight: bold;
            padding-right: 10px;
            margin-bottom: -10px;
        }
    </style>

    <section class="our-webcoderskull padding-lg">

        <div class="container">

            <div class="club-info col-md-12">
                <div class="club-nav">
                    <div class="team-badge">
                        <img src="@Model.BadgeUrl" alt="alternate text"/>
                    </div>
                    <a class="btn btn-outline-secondary" asp-controller="Fixtures" asp-action="Club" asp-route-clubId="@Model.Id">Fixtures</a>
                    <a class="btn btn-outline-secondary" asp-controller="Supporters" asp-action="Club" asp-route-clubId="@Model.Id">Supporters</a>
                </div>

                <div class="club-content">

                    <div>
                        <span class="team-name">@Model.Name</span>
                    </div>

                    <div>
                        <a href="@Model.SocialLinks.WebsiteLink">
                            <span>@Model.SocialLinks.WebsiteName</span>
                        </a>
                    </div>

                    <div class="team-sl">

                        <a href="@Model.SocialLinks.FacebookLink">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>

                        <a href="@Model.SocialLinks.TweeterLink">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="@Model.SocialLinks.InstagramLink">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>

                    </div>

                    <div>
                        Home:  @Model.StadiumName
                    </div>

                    <div>
                        <a href="@Model.PLLink">data source</a>
                    </div>

                </div>
            </div>

            <ul class="row container-players">

                @foreach (var player in Model.Players.Where(x=>x.SquadNumber != null).OrderByDescending(x => x.Position.Id).ThenBy(x=>int.Parse(x.SquadNumber)))
                {
                    <li class="col-12 col-md-6 col-lg-3 accept-policy" style="background-color:transparent">
                        <div class="cnt-block equal-hight border-bottom box-shadow" style="height: 389px;">

                            <span class="number">@player.SquadNumber</span>
                            <figure>
                                <img src="@player.ImageUrl" class="img-responsive" alt="" onerror="this.src = 'https://resources.premierleague.com/premierleague/photos/players/110x140/Photo-Missing.png'">
                            </figure>

                            <a class="btn button-player-card alert-success" asp-controller="UserGames" asp-action="AddPlayer" asp-route-id="@player.Id">
                                Buy
                            </a>

                            <p style="color:crimson">@player.PriceAtString</p>
                            <h3 class="display-2">@player.FullName</h3>
                            <p class="display-3">@player.PositionName <i style="color: grey"> @player.Country.Name</i></p>

                            <p>
                                <a class="btn btn-secondary alert-secondary" asp-controller="Players" asp-action="Profile" asp-route-id="@player.Id">
                                    Profile
                                </a>
                            </p>
                            <ul class="follow-us clearfix">
                                @if (player.SocialLinks.FacebookLink != null)
                                {
                                    <li>
                                        <a href="@player.SocialLinks.FacebookLink">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                }
                                @if (player.SocialLinks.TweeterLink != null)
                                {
                                    <li>
                                        <a href="@player.SocialLinks.TweeterLink">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                }
                                @if (player.SocialLinks.InstagramLink != null)
                                {
                                    <li>
                                        <a href="@player.SocialLinks.InstagramLink">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                }

                            </ul>
                            <br />
                            <br />
                        </div>
                    </li>

                };
            </ul>

        </div> 

    </section>
