@model PLF_Football.Web.ViewModels.Supporters.CollectionOfSupportersGamePointsViewModel

@using System.Security.Claims;

@{
    this.ViewData["CuurentUserId"] = this.User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

<style>
    .container-supp {
        position: relative;
        padding-top: 100px;
    }

        .container-supp:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -13%;
            background-image: url('/image/Common/fans.png');
            width: 128.5%;
            height: 82vh;
            background-position: top;
            background-size: 100%;
            opacity: 0.3;
            z-index: -1;
        }

    table {
        background-color: rgba(255,255,255,0.5);
        border-radius: 10px;
    }

    .table-title {
        height: 30px;
        margin-bottom: 10px;
        background-color: rgba(128, 128, 128, 0.5);
        border-radius: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
    }

        .table-title a {
            color: white;
        }

    td a {
        color: black;
    }

    td img {
        width: 30px;
    }

    td, th {
        text-align: center;
        font-weight: bold;
    }
</style>

<div class="row col-md-12 container-supp">

    <div class="rank-matchday col-md-12">

        <div class="table-title">
            Supporters games full ranking
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Club
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Matchday
                    </th>
                    <th>
                        Points
                    </th>
                    <th>
                        Team Price
                    </th>
                    <th>
                        Avg. Point Price
                    </th>
                </tr>
            </thead>
            @foreach (var game in Model.GamesByPoints.OrderByDescending(x => x.Points).ThenBy(x => x.TeamSum))
            {

                <tbody>
                    <tr @if(game.UserId == (string)this.ViewData["CuurentUserId"] ) {<text> style="background-color:lightgreen"</text>}>
                        <td>
                            <img src="@game.UserFavoriteTeamBadgeUrl" alt="Alternate Text" />
                        </td>
                        <td>
                            <a asp-controller="Users" asp-action="AllTeams" asp-route-userId="@game.UserId">@game.UserUserName</a>
                        </td>
                        <td>
                            @game.Matchday
                        </td>
                        <td>
                            @game.Points
                        </td>
                        <td>
                            @game.TeamSumAtString
                        </td>
                        <td>
                            @game.PointPriceAtString
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>

</div>