@model PLF_Football.Web.ViewModels.Supporters.CollectionOfSupportersGamePointsViewModel

@using System.Security.Claims;

@{
    this.ViewData["CuurentUserId"] = this.User.FindFirst(ClaimTypes.NameIdentifier).Value;
    this.ViewData["firstSupporterOnPageNumber"] = (this.Model.PageNumber - 1 )* this.Model.ItemsPerPage + 1;
    this.ViewData["lastSupporterOnPageNumber"] = (this.Model.PageNumber - 1) * this.Model.ItemsPerPage + this.Model.ItemsPerPage > this.Model.ItemsCount ? this.Model.ItemsCount : (this.Model.PageNumber - 1) * this.Model.ItemsPerPage + this.Model.ItemsPerPage;
}

<style>
    .container-supp {
        position: relative;
        padding-top: 10px;
    }

        .container-supp:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -13%;
            background-image: url('/image/Common/fans.png');
            width: 128.5%;
            height: 81vh;
            background-position: top;
            background-size: 100%;
            opacity: 0.3;
            z-index: -1;
        }

    table {
        background-color: rgba(255,255,255,0.6);
        border-radius: 10px;
    }

    .table-title {
        height: 30px;
        margin-bottom: 10px;
        background-color: rgba(128, 128, 128, 0.5);
        border-radius: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .table-title a {
        color: white;
    }

    .table-head-row th{
        align-content: center;
        padding: 5px 0;
    }

    .table-head-row form label,select, input{
        margin-bottom: 0;

    }
    
    .table-head-row form select{
        padding: 1.405px 1px;
        border-radius: 5px;
    }

    .table-head-row form input {
        padding: 0 10px;
        border-radius: 5px;
    }

    td a {
        color: black;
    }

    td img {
        width: 20px;
    }

    td, th {
        text-align: center;
        font-weight: bold;
    }

    .table tbody tr td {
        padding: 8.5px;
    }

    .paging {
        margin-bottom: 10px;
    }
</style>

<div class="row col-md-12 container-supp">

    <div class="rank-matchday col-md-12">

        <div class="paging">
            <partial name="_PagingPartialSupportersByGamePoints" model="@Model" />
        </div>

        <div class="table-title">
            Supporters games full ranking (@this.ViewData["firstSupporterOnPageNumber"] - @this.ViewData["lastSupporterOnPageNumber"])
        </div>

        <table class="table table-striped">
            <thead>
                <tr class="table-head-row">
                    <th>
                        Club
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        <form  method="get">
                            <label for="matchdaySearch">Matchweek: </label>
                            <select asp-route="matchdaySearch" , name="matchdaySearch"
                                    asp-items="@Model.AllMatchdays.Select(x=> new SelectListItem (x.MatchdayName, x.MatchdayNumber.ToString()))">
                            </select>
                            <input type="submit" value="Ok" />
                        </form>
                    </th>
                    <th>
                        Points
                    </th>
                    <th>
                        Team Price
                    </th>
                    <th>
                        Avg. Point Price
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var game in Model.Supporters.OrderByDescending(x => x.Points).ThenBy(x => x.TeamSum).Skip((Model.PageNumber - 1) * Model.ItemsPerPage).Take(Model.ItemsPerPage))
                {

                    <tr @if (game.UserId == (string)this.ViewData["CuurentUserId"]) { <text> style="background-color:lightgreen" </text> }>
                        <td>
                            <img src="@game.UserFavoriteTeamBadgeUrl" alt="Alternate Text" />
                        </td>
                        <td>
                            <a asp-controller="Users" asp-action="AllTeams" asp-route-userId="@game.UserId">@game.UserUserName</a>
                        </td>
                        <td>
                            @game.Matchday
                        </td>
                        <td>
                            @game.Points
                        </td>
                        <td>
                            @game.TeamSumAtString
                        </td>
                        <td>
                            @game.PointPriceAtString
                        </td>
                    </tr>

                }
            </tbody>
            </table>
    </div>

</div>