@model PLF_Football.Web.ViewModels.Supporters.CollectionOfSupporterViewModel

@using System.Security.Claims;

@{
    this.ViewData["CuurentUserId"] = this.User.FindFirst(ClaimTypes.NameIdentifier).Value;
}
<style>
    .container-supp {
        position: relative;
        padding-top: 100px;
    }

        .container-supp:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -13%;
            background-image: url('/image/Common/fans.png');
            width: 128.5%;
            height: 102%;
            background-repeat: repeat;
            background-position: top;
            background-size: 100%;
            opacity: 0.3;
            z-index: -1;
        }

    table {
        background-color: rgba(255,255,255,0.6);
        border-radius: 10px;
    }

    .table-title {
        height: 30px;
        margin-bottom: 10px;
        background-color: rgba(128, 128, 128, 0.6);
        border-radius: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
    }

        .table-title a {
            color: white;
        }

    td a {
        color: black;
    }

    td img {
        width: 30px;
    }

    td, th {
        text-align: center;
        font-weight: bold;
    }
</style>

<div class="row col-md-12 container-supp">

    <div class="rank-total col-md-12">

        <div class="table-title">
            Supporters full ranking
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Club
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Total Points
                    </th>
                    <th>
                        Games
                    </th>
                    <th>
                        Pts per Game
                    </th>
                    <th>
                        Avg. Team Price
                    </th>
                    <th>
                        Avg. Point Price
                    </th>
                </tr>
            </thead>
            @foreach (var supp in Model.Supporters.OrderByDescending(x => x.TotalPoints).ThenBy(x => x.AverageTeamSum))
            {

                <tbody>
                    <tr @if(supp.Id == (string)this.ViewData["CuurentUserId"] ) {<text> style="background-color:lightgreen"</text>}>
                        <td>
                            <img src="@supp.FavoriteTeamBadgeUrl" alt="Alternate Text" />
                        </td>
                        <td>
                            <a asp-controller="Users" asp-action="AllTeams" asp-route-userId="@supp.Id">@supp.UserName</a>
                        </td>
                        <td>
                            @supp.TotalPoints
                        </td>
                        <td>
                            @supp.Games.Count
                        </td>
                        <td>
                            @supp.PtsPerGame
                        </td>
                        <td>
                            @supp.AverageTeamSumAtString
                        </td>
                        <td>
                            @supp.PointSumAtString
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>
